<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkerboard Assignment
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        table tr td {
            width: 50px;
            height: 50px;
        }
        .color1 {
            background-color:blue;
        }
        .color2{
            background-color: red;
        }
    </style>
</head>
<body>
    <table>
    {% for i in range(x/2): %}
        <tr>
            {% for j in range(y/2): %}
            <td class='color1'></td>
            <td class='color2'></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(y/2): %}
            <td class='color2'></td>
            <td class='color1'></td>
            {% endfor %}    
        </tr>
        
    </table>
</body>
</html>